.home-bg-img {
  background-image: url('../../../images/home_tessellation.png');
  background-size: 100px;
  filter: brightness(26%);
  /* General attributes */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100%;
  z-index: -1;
}

.hero-img {
  height: 50vw;
  width: 100vw;
  background-image: linear-gradient(rgba(231, 117, 0, 0.6),  rgba(3, 162, 220, 0.6), rgba(3, 162, 220, 0.6)), url(../../../images/home/pacbot-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-logo {
  height: 40vw;
  width: 40vw;
  background-image: url(../../../images/home/PURC\ Logo\ Blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hero-text {
  padding: 20px;
  font-family: 'Century Gothic';
  font-size: 40px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  z-index: 1;

  /* font-weight: bold; */
}

.hero-word {
  font-family: 'Courier New';
  text-transform: lowercase;
  font-size: 45px;
  color: rgb(231, 117, 0)
}

.hero-bar {
  color: rgba(0, 0, 0, 0)
}

.hero-subtext {
  font-family: 'Century Gothic';
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  font-weight: bold;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}