.home-bg-img {
  background-image: url('../../../images/home_tessellation.png');
  background-size: 100px;
  filter: brightness(26%);
  /* General attributes */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100%;
  z-index: -1;
}

.hero-img {
  height: 50vw;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 195, 255, 0.25), rgba(0, 195, 255, 0.25)), url(../../../images/home/droid-1.jpg);
  /* background-image: linear-gradient(rgba(0, 195, 255, 0.5), rgba(255, 115, 0, 0)), url(../../../images/home/droid-1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-logo {
  height: 40vw;
  width: 40vw;
  background-image: url(../../../images/home/PURC\ Logo\ Blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
}

.hero-text {
  padding: 20px;
  font-family: 'Century Gothic';
  font-size: 40px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  z-index: 1;
}