.gallery-page {
  font-family: 'Century Gothic' !important;
}

.gallery {
  font-family: 'Century Gothic' !important;
}

/* .gallery-image {
     height: 800px !important;
     width: auto !important;
    width: 400px !important; 
    margin: 20px;
} */

.gallery-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  /* border: 1px solid coral; */
}

.ReactGridGallery > div {
  align-items: center;
  justify-content: center;
}

.ReactGridGallery_tile {
  margin: 8px !important;
}
