.body-bg {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 200px);
}

.title-blob {
  text-align: center;
  line-height: 100px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 100px;
  font-family: 'Just Sans';
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  display: block;
}

.title-blob-dark {
  background-color: rgba(80, 80, 80, 0.8);
  color: white;
  transition: 0.5s;
}

.title-blob-light {
  background-color: rgba(149, 140, 140, 0.2);
  color: black;
  transition: 0.5s;
}


.home-bg-img {
  background-image: url('../../images/home_tessellation.png');
  background-size: 100px;
  filter: brightness(26%);
  /* General attributes */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100%;
  z-index: -1;
}

.article-centered {
  background-color: transparent;
  width: calc(100vw - 300px);
  min-height: calc(100vh - 200px);
  margin: 0;
  padding: 0;
  display: block;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.link-orange {
  color: orange;
}

.link-coral {
  color: coral;
}

.link-dark-orange {
  color: rgba(255, 150, 100);
}

.link-red {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 100, 100);
}

.link-orange:hover, .link-coral:hover {
  color: orangered;
}

.light-orange-link:hover {
  color: red;
}

.red-link:hover {
  color: rgb(255, 100, 200);
}

@media screen and (max-width: 960px) {

  .home-bg-img {
    max-height: calc(100vh - 200px);
  }

  .article-centered {
    width: calc(100vw - 50px);
  }
}