.supp-bg-img {
  background-image: url('../../images/support_tessellation.png');
  background-size: 300px;
  /* General attributes */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100%;
  z-index: -1;
}

.supp-bg-img-dark {
  filter: brightness(23%);
  transition: 0.5s;
}

.supp-bg-img-light {
  opacity: 0.3;
  filter: brightness(125%);
  transition: 0.5s;
}

/* ------------------------------------------------------------------------- */

.supp-intro-blob {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 10px;
  text-underline-offset: 6px;
  font-family: 'Just Sans';
  font-size: 1.2rem;
  width: calc(100% - 60px);
  display: block;
  text-align: justify;
  hyphens: auto;
}

.supp-intro-blob-dark {
  border-color: rgba(80, 80, 80, 0.7);
  background-color: rgba(48, 48, 48, 0.7);
  color: white;
}

.supp-intro-blob-light {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(256, 234, 206, 0.5);
  color: black;
}

.supp-info-blob {
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 10px;
  text-underline-offset: 6px;
  display: block;
  overflow: auto;
  float: left;
}

.full {
  width: calc(100%);
}

.half {
  width: calc(48%);
}

.left {
  width: calc(46%);
  float: left;
}

.right {
  width: calc(51%);
  float: right;
}

.supp-info-blob-dark {
  border-color: rgba(80, 80, 80, 0.7);
  background-color: rgba(48, 48, 48, 0.7);
  color: white;
}

.supp-info-blob-light {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(256, 234, 206, 0.5);
  color: black;
}

.img-e-quad {
  border-radius: 0px 0px 10px 0px;
  height: 490px;
  width: 45%;
  padding: 0;
  background-position: center;
  background-image: url('../../images/supporters/e_quad.jpg');
  background-repeat: no-repeat;
  background-size: fill;
  color: yellow;
  float: right;
  transition: all 0.1s ease;
}

.supp-logo-seas {
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-position: center;
  background-image: url('../../images/supporters/princeton_seas.png');
  background-repeat: no-repeat;
  background-size: 280px;
  float: left;
  clear: both;
  transition: all 0.1s ease;
}

.supp-logo-seas:hover {
  background-size: 290px;
  transition: all 0.1s ease;
}

.supp-logo-seas-dark {
  background-color: rgba(255, 143, 0, 0.7);
}

.supp-logo-seas-light {
  background-color: rgba(0, 112, 255, 0.3);
  filter: invert(1);
}

.supp-logo-keller {
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 150, 100, 0.7);
  padding: 0;
  margin: 0;
  background-position: center;
  background-image: url('../../images/supporters/keller_center.png');
  background-repeat: no-repeat;
  background-size: 240px;
  color: yellow;
  float: left;
  transition: all 0.1s ease;
}

.supp-logo-keller:hover {
  background-size: 250px;
  transition: all 0.1s ease;
}

.supp-logo-cst {
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 100, 100, 0.7);
  padding: 0;
  margin: 0;
  background-position: center;
  background-image: url('../../images/supporters/cst.png');
  background-repeat: no-repeat;
  background-size: 200px;
  color: yellow;
  float: left;
  transition: all 0.1s ease;
}

.supp-logo-cst:hover {
  background-size: 210px;
  transition: all 0.1s ease;
}

.supp-info-text {
  height: flex;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Just Sans';
  font-size: 1.2rem;
  line-height: 25px;
  float: left;
  text-align: justify;
  hyphens: auto;
}

.supp-info-text-e-quad {
  width: calc(55% - 60px);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Just Sans';
  font-size: 1.2rem;
  line-height: 25px;
  float: left;
  text-align: justify;
  hyphens: auto;
}

.dedent {
  margin-left: -20px;
  line-height: 30px;
}

@media screen and (max-width: 1180px) {

  .img-e-quad {
    height: auto;
  }

  .supp-info-text-e-quad {
    width: auto;
  }

}

@media screen and (max-width: 960px) {

  .supp-bg-img {
    max-height: calc(100vh - 200px);
  }

  .half {
    width: calc(100%);
  }
  
  .left {
    width: calc(100%);
  }
  
  .right {
    width: calc(100%);
  }

  .dedent {
    line-height: 25px;
  }
}