:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  font-family: 'Just Sans';
  letter-spacing: 1px;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  font-size: 1.3rem;
  font-family: 'Just Sans';
  letter-spacing: 1px;
}

.btn--medium {
  margin-right: 20px;
  padding: 8px 20px;
  font-size: 1.3rem;
  font-family: 'Just Sans';
  letter-spacing: 1px;
}

.btn--medium--colored {
  margin-right: 20px;
  padding: 8px 20px;
  font-size: 1.3rem;
  font-family: 'Just Sans';
  letter-spacing: 1px;
  background-color: orangered;
  color:#2f2f2f;
}

.btn--large {
  padding: 12px 26px;
  font-size: 1.3rem;
  font-family: 'Just Sans';
}

.btn--medium:hover, .btn--large:hover {
  background-color: orange;
  color:#2f2f2f;
  transition: all 0.3 ease-out;
}