.search {
  width: 80%;
  border: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  transition: 300ms ease-in;
  height: 40px;
  font-size: 1.3rem;
  padding: 5px 22px;
  border-radius: 10px;
  font-family: 'Century Gothic';
  text-align: center;
}

.search:focus {
  border-color: coral;
}
.search::placeholder {
  color: gray;
}
