/* ------------------------------------------------------------------------- */
/*                                   ROOT                                    */
/* ------------------------------------------------------------------------- */

:root {
  --projects-desktop-container: calc(100vw - 300px);
  --projects-mobile-container: calc(100vw - 50px);
  --projects-desktop-size: 0.8;
  --projects-mobile-size: 1.6;
  --projects-original-ratio: 3;
  --projects-selected-ratio: 2.5;
  --projects-unselected-ratio: 3.5;
  --projects-text-ratio: 6;
  --projects-carousel-ratio: calc(4/3);
  --projects-shadow-rgb: rgb(0, 0, 0, 0.5);
  --projects-droid-rgb: rgb(227, 77, 0);
  --projects-pacbot-rgb: rgb(255, 183, 0);
  --projects-drone-rgb: rgb(0, 126, 255);
}

/* ------------------------------------------------------------------------- */
/*                                 SPACERS                                   */
/* ------------------------------------------------------------------------- */

.break {
  flex-basis: 100%;
  height: 0;
}

.h-spacer {
  height: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.8);
  width: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.3);
}

.v-spacer {
  height: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.3);
  width: 100%;
}

.m-spacer {
  height: 0;
  width: 0;
}

/* ------------------------------------------------------------------------- */
/*                                 GENERAL                                   */
/* ------------------------------------------------------------------------- */

.page-title {
  font-family: 'Century Gothic';
  color: white;
  text-align: center;
  font-size: 3rem;
  display: block;
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.first-row {
  order: 1;
}

.second-row {
  order: 2;
}

.third-row {
  order: 3;
}

.team-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------------------------------------------------------------------- */
/*                            TEAM-SPECIFIC                                  */
/* ------------------------------------------------------------------------- */

.droid-logo {
  background-image: url(../../../images/projects/droid/droid-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.droid-text {
  color: var(--projects-droid-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.droid-glow {
  filter: none;
  transition: filter 0.5s;
}

.droid-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-droid-rgb));
}

.droid-blurb {
  border-color: var(--projects-droid-rgb);
  box-shadow: 0px 0px 20px 0px var(--projects-droid-rgb);
}

.droid-dot {
  border-color: var(--projects-droid-rgb);
}

.droid-dot-active, .droid-dot:hover {
  background-color: var(--projects-droid-rgb);
}

.droid-carousel {
  border-color: var(--projects-droid-rgb);
}

/* ------------------------------------------------------------------------- */

.pacbot-logo {
  background-image: url(../../../images/projects/pacbot/pacbot-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.pacbot-text{
  color: var(--projects-pacbot-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.pacbot-glow {
  filter: none;
  transition: filter 0.5s;
}

.pacbot-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-pacbot-rgb));
}

.pacbot-blurb {
  border-color: var(--projects-pacbot-rgb);
  box-shadow: 0px 0px 20px var(--projects-pacbot-rgb);
}

.pacbot-dot {
  border-color: var(--projects-pacbot-rgb);
}

.pacbot-dot-active, .pacbot-dot:hover {
  background-color: var(--projects-pacbot-rgb);
}

.pacbot-carousel {
  border-color: var(--projects-pacbot-rgb);
}

/* ------------------------------------------------------------------------- */

.drone-logo {
  background-image: url(../../../images/projects/drone/drone-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.drone-text{
  color: var(--projects-drone-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.drone-glow {
  filter: none;
  transition: filter 0.5s;
}

.drone-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-drone-rgb));
}

.drone-blurb {
  border-color: var(--projects-drone-rgb);
  box-shadow: 0px 0px 20px var(--projects-drone-rgb);
}

.drone-dot {
  border-color: var(--projects-drone-rgb);
}

.drone-dot-active, .drone-dot:hover {
  background-color: var(--projects-drone-rgb);
}

.drone-carousel {
  border-color: var(--projects-drone-rgb);
}

/* ------------------------------------------------------------------------- */
/*                                  MOBILE                                   */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 960px) {
  
  .h-spacer {
    height: 0;
    width: 0;
  }

  .v-spacer {
    height: 0;
    width: 0;
  }

  .m-spacer {
    height: calc(var(--projects-mobile-container) / var(--projects-original-ratio) * 0.8);
    width: 100%;
  }

  .first-row {
    order: 0;
  }

  .second-row {
    order: 0;
  }

  .third-row {
    order: 0;
  }

  /* Stack team buttons */
  .team-wrap {
    flex-direction: column;
    align-items: center;
  }

}