/* ------------------------------------------------------------------------- */
/*                                   ROOT                                    */
/* ------------------------------------------------------------------------- */

:root {
  --projects-desktop-container: calc(100vw - 300px);
  --projects-mobile-container: calc(100vw - 50px);
  --projects-desktop-size: 0.8;
  --projects-mobile-size: 1.6;
  --projects-original-ratio: 3;
  --projects-selected-ratio: 2.5;
  --projects-unselected-ratio: 3.5;
  --projects-text-ratio: 6;
  --projects-carousel-ratio: calc(4/3);
  --projects-shadow-rgb: rgb(0, 0, 0, 0.5);
  --projects-droid-rgb: rgb(227, 77, 0);
  --projects-pacbot-rgb: rgb(255, 183, 0);
  --projects-drone-rgb: rgb(0, 126, 255);
}

/* ------------------------------------------------------------------------- */
/*                                 uwu                                   */
/* ------------------------------------------------------------------------- */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-sizing: border-box;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.container:nth-child(odd) {
  left: 0;
}

/* Place the container to the right */
.container:nth-child(even) {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.container:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.container:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.container:nth-child(even)::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* ------------------------------------------------------------------------- */
/*                                 SPACERS                                   */
/* ------------------------------------------------------------------------- */

.break {
  flex-basis: 100%;
  height: 0;
}

.divider {
  flex-basis: 100%;
  height: calc(var(--projects-desktop-container) / var(--projects-carousel-ratio) * 0.025);
}

.section {
  flex-basis: 100%;
  height: calc(var(--projects-desktop-container) / var(--projects-carousel-ratio) * 0.05);
}

.h-spacer {
  height: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.8);
  width: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.3);
}

.v-spacer {
  height: calc(var(--projects-desktop-container) / var(--projects-original-ratio) * 0.3);
  width: 100%;
}

.m-spacer {
  height: 0;
  width: 0;
}

/* ------------------------------------------------------------------------- */
/*                                 GENERAL                                   */
/* ------------------------------------------------------------------------- */

.page-title {
  font-family: 'Century Gothic';
  color: white;
  text-align: center;
  font-size: 3rem;
  display: block;
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.first-row {
  order: 1;
}

.second-row {
  order: 2;
}

.third-row {
  order: 3;
}

.team-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-blurb {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  border: calc(var(--projects-desktop-container)/ 250) solid;
  background-color: black;
}

.blurb-text {
  font-family: 'Century Gothic';
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.blurb-title {
  font-family: 'Century Gothic';
  color: white;
  font-size: 30px;
}

.blurb-carousel {
  height: calc(var(--projects-desktop-container) / var(--projects-carousel-ratio) * 0.95);
  width: calc(var(--projects-desktop-container) * 0.95);
  background-color: black;
  border-style: solid none solid none;
  border-width: calc(var(--projects-desktop-container) / 250);
  line-height: calc(var(--projects-desktop-container) / var(--projects-carousel-ratio) * 0.95);
  text-align: center;
  overflow: hidden;
}

.blurb-carousel img {
  vertical-align: middle;
}

.blurb-carousel video {
  vertical-align: middle;
}

.blurb-dot {
  cursor: pointer;
  height: calc(var(--projects-desktop-container) / 50);
  width: calc(var(--projects-desktop-container) / 50);
  margin: calc(var(--projects-desktop-container) / 250) calc(var(--projects-desktop-container) / 250);
  border: calc(var(--projects-desktop-container) / 250) solid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* ------------------------------------------------------------------------- */
/*                            TEAM-SPECIFIC                                  */
/* ------------------------------------------------------------------------- */

.droid-logo {
  background-image: url(../../../images/projects/droid/droid-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.droid-text {
  color: var(--projects-droid-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.droid-glow {
  filter: none;
  transition: filter 0.5s;
}

.droid-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-droid-rgb));
}

.droid-blurb {
  border-color: var(--projects-droid-rgb);
  box-shadow: 0px 0px 20px 0px var(--projects-droid-rgb);
}

.droid-dot {
  border-color: var(--projects-droid-rgb);
}

.droid-dot-active, .droid-dot:hover {
  background-color: var(--projects-droid-rgb);
}

.droid-carousel {
  border-color: var(--projects-droid-rgb);
}

/* ------------------------------------------------------------------------- */

.pacbot-logo {
  background-image: url(../../../images/projects/pacbot/pacbot-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.pacbot-text{
  color: var(--projects-pacbot-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.pacbot-glow {
  filter: none;
  transition: filter 0.5s;
}

.pacbot-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-pacbot-rgb));
}

.pacbot-blurb {
  border-color: var(--projects-pacbot-rgb);
  box-shadow: 0px 0px 20px var(--projects-pacbot-rgb);
}

.pacbot-dot {
  border-color: var(--projects-pacbot-rgb);
}

.pacbot-dot-active, .pacbot-dot:hover {
  background-color: var(--projects-pacbot-rgb);
}

.pacbot-carousel {
  border-color: var(--projects-pacbot-rgb);
}

/* ------------------------------------------------------------------------- */

.drone-logo {
  background-image: url(../../../images/projects/drone/drone-logo.svg);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.drone-text{
  color: var(--projects-drone-rgb);
  filter: drop-shadow(5px 5px 5px var(--projects-shadow-rgb));
}

.drone-glow {
  filter: none;
  transition: filter 0.5s;
}

.drone-glow:hover {
  filter: drop-shadow(0px 0px 2vw var(--projects-drone-rgb));
}

.drone-blurb {
  border-color: var(--projects-drone-rgb);
  box-shadow: 0px 0px 20px var(--projects-drone-rgb);
}

.drone-dot {
  border-color: var(--projects-drone-rgb);
}

.drone-dot-active, .drone-dot:hover {
  background-color: var(--projects-drone-rgb);
}

.drone-carousel {
  border-color: var(--projects-drone-rgb);
}

/* ------------------------------------------------------------------------- */
/*                                  MOBILE                                   */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 960px) {

  .divider {
    flex-basis: 100%;
    height: calc(var(--projects-mobile-container) / var(--projects-carousel-ratio) * 0.025);
  }
  
  .section {
    flex-basis: 100%;
    height: calc(var(--projects-mobile-container) / var(--projects-carousel-ratio) * 0.05);
  }
  
  .h-spacer {
    height: 0;
    width: 0;
  }

  .v-spacer {
    height: 0;
    width: 0;
  }

  .m-spacer {
    height: calc(var(--projects-mobile-container) / var(--projects-original-ratio) * 0.8);
    width: 100%;
  }

  .first-row {
    order: 0;
  }

  .second-row {
    order: 0;
  }

  .third-row {
    order: 0;
  }

  /* Stack team buttons */
  .team-wrap {
    flex-direction: column;
    align-items: center;
  }

  .team-blurb {
    border-width: calc(var(--projects-mobile-container) / 150);
  }

  .blurb-carousel {
    height: calc(var(--projects-mobile-container) / var(--projects-carousel-ratio) * 0.95);
    width: calc(var(--projects-mobile-container) * 0.95);
    background-repeat: no-repeat;
    background-position: center center;
    border-width: calc(var(--projects-mobile-container) / 150);
  }

  .blurb-text {
    overflow-wrap: break-word;
  }

  .blurb-dot {
    cursor: pointer;
    height: calc(var(--projects-mobile-container) / 20);
    width: calc(var(--projects-mobile-container) / 20);
    margin: calc(var(--projects-mobile-container) / 75) calc(var(--projects-desktop-container) / 75);
    border-width: calc(var(--projects-mobile-container) / 150);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container:nth-child(odd)::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    .container:nth-child(even)::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .container:nth-child(odd)::after, .container:nth-child(even)::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .container:nth-child(even) {
      left: 0%;
    }
  }